.button.backButton {
    border-radius: 0;
    margin-bottom: 0.25em;
}

.button.backButton > .ons-icon {
    margin-right: 0.5em;
}

.list-item.active {
    color: #fff;
    background-color: #444;
}